<table class="table table-hover table table-striped rounded-5">
    <thead>
        <tr>
            <th *ngFor="let element of Tabledata[0] | keyvalue:onCompare ">{{element.key}}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Tabledata">
            <td *ngFor="let element of item | keyvalue:onCompare ">{{element.value | dateFormat}}</td>
            <td>
                <button class="btn me-2" (click)="edit(item)"><i class="fa fa-edit"></i></button>
                <button class="btn" (click)="delete(item)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>