.btn {
    border: none;

    text-align: center;
    text-decoration: none;

    cursor: pointer;

    &:hover {
        background-color: #ddd;
    }
}

.table{
    margin: 0;
}

.card{
    border-radius: 25px;
}