@import "src/assets/scss_vars.scss";
.btn {
    border: none;

    text-align: center;
    text-decoration: none;

    cursor: pointer;

    &:hover {
        background-color: $secondary;
    }
}

.table{
    margin: 0;

    td{
        max-width: 100px;
    }
}

