// define the colors
$primary: #e26a6a;
$secondary: #c35b5b;
$third: #ffc2d7;
$success: #53b76c;
$danger: #ff3c3c;
$warning: #ffb62e;
$info: #00bfff;
$light: #f8f9fa;
$dark: #343a40;
$text-main: #ffffff;
$black: #000000;