// define the colors
$primary: #4ea9c4;
$secondary: #50b2c5;
$third: #ffe5e5;
$success: #53b76c;
$danger: #ff3c3c;
$warning: #ffb62e;
$info: #00bfff;
$light: #f8f9fa;
$dark: #343a40;
$text-main: #ffffff;
$black: #000000;