<div class="card m-1" style="width: 18rem;">
    <div class="card-header">
        <button class="btn btn-primary me-1" (click)="edit(project)"><i class="bi bi-pencil"></i></button>
        <button class="btn btn-danger" (click)="delete(project)"><i class="bi bi-trash"></i></button>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Title: {{project.title}}</b></li>
        <li class="list-group-item"><b>Description: {{project.description}}</b></li>
        <li class="list-group-item"><b>Created at: {{project.createdAt | date}}</b></li>
    </ul>
</div>