<button class="btn btn-primary mb-2" (click)="openAddModal()">Add Assignment</button>


<app-table-container>
    <app-mytable [Tabledata]="allAssignments" (editEvent)="openEditModal($event)"
        (deleteEvent)="openDeleteModal($event)"></app-mytable>
</app-table-container>

<app-modal [title]="modalTitle">
    <app-assignment-form *ngIf="isForm" [formAssignment]="assignment"
        (submitForm)="submitForm($event)"></app-assignment-form>
    <app-confirmation-dialog *ngIf="!isForm" (confirm)="deleteAssignment()"
        (cancel)="closeModal()"></app-confirmation-dialog>
</app-modal>