<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="d-flex flex-wrap justify-content-center align-items-stretch">

                <div class="card m-2">
                    <div class="card-body text-center">
                        <h2 class="mb-4">Profile</h2>
                        <form [formGroup]="profileForm " (ngSubmit)="onProfileSubmit()">

                            <div class="form-group mt-3 mb-4">
                                <div class="img-wrapper m-auto">
                                    <img async src="{{imgPath+profile.profilePicture}}" />
                                </div>
                                <input class="form-control mt-2" type="file" (change)="onFileSelected($event)" />
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                                <small class="text-danger"
                                    *ngIf="profileForm .get('name')?.invalid && profileForm .get('name')?.touched">Name
                                    is
                                    required</small>
                            </div>

                            <button type="submit" class="btn btn-primary mt-2"
                                [disabled]="profileForm .invalid">Submit</button>
                        </form>

                    </div>
                    <div class="card-footer text-center" *ngIf="errors?.profile || response?.profile">

                        <small class="text-danger" *ngFor="let error of errors?.profile?.Name">{{error}}</small>
                        <small class="text-danger"
                            *ngFor="let error of errors?.profile?.ProfilePicture">{{error}}</small>

                        <small class="text-success" *ngIf="response?.profile">{{response?.profile}}</small>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="card m-2">
                        <div class="card-body text-center">
                            <h2 class="mb-4">Email</h2>
                            <form [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="email" placeholder="Email">
                                    <small class="text-danger"
                                        *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">Email
                                        is required</small>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="currentPassword"
                                        placeholder="Current Password">
                                    <small class="text-danger"
                                        *ngIf="emailForm.get('currentPassword')?.invalid && emailForm.get('currentPassword')?.touched">Password
                                        is required</small>
                                </div>

                                <button type="submit" class="btn btn-primary mt-2" [disabled]="emailForm.invalid">Update
                                    Email</button>
                            </form>



                        </div>

                        <div class="card-footer text-center" *ngIf="errors?.email || response?.email">
                            <div>
                                <small class="text-danger">{{errors?.email}}</small>
                            </div>
                            <small class="text-success" *ngIf="response?.email">{{response?.email}}</small>
                        </div>
                    </div>

                    <div class="card m-2">
                        <div class="card-body text-center">
                            <h2 class="mb-4">Update Password</h2>
                            <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">

                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="currentPassword"
                                        placeholder="Current Password">
                                    <small class="text-danger"
                                        *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched">Password
                                        is required</small>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="newPassword"
                                        placeholder="New Password">
                                    <small class="text-danger"
                                        *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">New
                                        is required</small>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" formControlName="confirmPassword"
                                        placeholder="Current Password">
                                    <small class="text-danger"
                                        *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched">Confirm
                                        Password is required</small>
                                </div>

                                <button type="submit" class="btn btn-primary mt-2"
                                    [disabled]="passwordForm.invalid">Update
                                    Password </button>
                            </form>
                        </div>

                        <div class="card-footer text-center" *ngIf="errors?.password || response?.password">


                            <small class="text-danger">{{errors?.password?.currentPassword}}</small>
                            <small class="text-danger"
                                *ngFor="let error of errors?.password?.NewPassword">{{error}}</small>
                            <small class="text-danger"
                                *ngFor="let error of errors?.password?.ConfirmPassword">{{error}}</small>
                            <small class="text-success" *ngIf="response?.password">{{response?.password}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>