<div class="container">
   <app-modal [title]="modalTitle">
      <app-project-form *ngIf="addModal" (submitForm)="addnewProject($event)"></app-project-form>
      <app-confirmation-dialog (cancel)="closeModal()" (confirm)="deleteProject()"
         *ngIf="!addModal"></app-confirmation-dialog>
   </app-modal>

   
   <div class="row mt-3 d-flex justify-content-center align-items-center">
      <div class="col-12 mb-2">
         <button class="btn btn-primary" (click)="openAddModal()">Add Project <i class="bi bi-plus"></i></button>
      </div>

      <div class="row row3 py-3">
         <div class="d-flex  flex-wrap justify-content-center align-items-center">
            <project-item (editEvent)="editProject($event)" (deleteEvent)="openDeleteModal($event)"
               *ngFor="let p of projects" [project]="p"></project-item>
         </div>
      </div>
   </div>