<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}" [ngClass]="{'show': isModalOpen}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{title}}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
            <div class="modal-footer" *ngIf="errorMessage || successMessage">
                <p class="text-danger">{{errorMessage}}</p>
                <p class="text-success">{{successMessage}}</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isModalOpen" class="modal-backdrop fade show"></div>