@import "~@fortawesome/fontawesome-free/css/all.css";
@import "assets/scss_vars.scss";

.nav-link {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid $primary;

    &:hover {
        background-color: $secondary;
        border-color: $secondary;
        color: $text-main;
    }

    &:focus {
        outline: none;
        box-shadow: none;

        background-color: $secondary;
        color: $text-main;
    }
}

.btn-primary {
    background-color: transparent;
    border-color: $primary;
    color: $primary;

    &:hover {
        background-color: $secondary;
        border-color: $secondary;
        color: $text-main;
    }
    &:focus {
        outline: none;
        box-shadow: none;
        background-color: $secondary;
        color: $text-main;
        border-color: $secondary;
    }    
}

.btn-danger {
    background-color: transparent;
    border-color: $danger;
    color: $danger;

    &:hover {
        background-color: $danger;
        border-color: $danger;
        color: $text-main;
    }

    &:focus {
        outline: none;
        box-shadow: none;
        background-color: $danger;
        color: $text-main;
        border-color: $danger;
    }
}

.form-control {
    border-radius: 20px;
    border: 2px solid;
    border-color: $primary;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.modal-content {
    border-radius: 20px;
}

.ng-invalid {
    border-color: $danger;
}

.ng-valid {
    border-color: $success;
}

input {
    border: none;
    border-radius: 20px;
}

.form-select {
    border-radius: 20px;
    border-width: 2px;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.card {
    border-radius: 20px;
    margin: 20px;
    // padding: 20px;
    .card-header {
        border-radius: 20px 20px 0 0;
    }
    .card-footer {
        border-radius: 0 0 20px 20px;
    }

    .card-body {
        padding: 20px;
    }
}
