@import "~@fortawesome/fontawesome-free/css/all.css";

@import "primeng/resources/themes/lara-light-teal/theme.css";
@import "primeng/resources/primeng.css";

// define the colors

@mixin light() {
    --primary: #79eab1;
    --secondary: #65d89f;
    --third: #4dd18f;
    --success: #53b76c;
    --danger: #fb6565;
    --warning: #f4ba4f;
    --info: #82f9ff;
    --light: #f8f9fa;
    --dark: #343a40;
    --text-main: #000000;    
}

body.main {
    @include light();
}

.nav-link {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid var(--primary);

    &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
        color: var(--text-main);
    }

    &:focus {
        outline: none;
        box-shadow: none;

        background-color: var(--secondary);
        color: var(--text-main);
    }
}

.btn-primary {
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);

    &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
        color: var(--text-main);
    }
    &:focus {
        outline: none;
        box-shadow: none;
        background-color: var(--secondary);
        color: var(--text-main);
        border-color: var(--secondary);
    }
}

.btn-danger {
    background-color: transparent;
    border-color: var(--danger);
    color: var(--danger);

    &:hover {
        background-color: var(--danger);
        border-color: var(--danger);
        color: var(--text-main);
    }

    &:focus {
        outline: none;
        box-shadow: none;
        background-color: var(--danger);
        color: var(--text-main);
        border-color: var(--danger);
    }
}

.form-control {
    border-radius: 20px;
    border: 2px solid;
    border-color: var(--primary);
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.modal-content {
    border-radius: 20px;
}

.ng-invalid {
    border-color: var(--danger);
}

.ng-valid {
    border-color: var(--success);
}

input {
    border: none;
    border-radius: 20px;
}

.form-select {
    border-radius: 20px;
    border-width: 2px;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.card {
    border-radius: 20px;
    margin: 20px;
    // padding: 20px;
    .card-header {
        border-radius: 20px 20px 0 0;
    }
    .card-footer {
        border-radius: 0 0 20px 20px;
    }

    .card-body {
        padding: 20px;
    }
}

i {
    
    &:hover {
        color: var(--third);
        cursor: pointer;
    }
}

