<app-form-container>
    <div class="card m-2">
        <div class="card-body text-center">
            <h2 class="mb-4">Reset Password</h2>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onResetSubmit()">

                <div class="form-group mb-2">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email">
                    <small class="text-danger"
                        *ngIf="forgotPasswordForm.get('currentPassword')?.invalid && forgotPasswordForm.get('currentPassword')?.touched">Password
                        is required</small>
                </div>

                <button type="submit" class="btn btn-primary mt-2" [disabled]="forgotPasswordForm.invalid">Reset
                    Password </button>
            </form>
        </div>
        <div class="card-footer text-center" *ngIf="errorMsg || successMsg">
            <h2 class="text-danger">{{errorMsg}}</h2>
            <h2 class="text-success">{{successMsg}}</h2>
        </div>
    </div>
</app-form-container>