.navbar {
    box-shadow:
        0 1px 1px 0 rgba(0, 0, 0, 0.2),
        0 2px 30px 0 rgba(52, 52, 52, 0.1);
    // gardient color
    // background: linear-gradient(30deg, rgb(227, 126, 126) 0%, rgb(237, 122, 122) 50%, rgb(130, 77, 77) 100%);
    background-color: var(--primary);
    opacity: 0.9;
}


.navbar-brand {
    color: var(--text-main);
    &:hover {
        color: var(--text-main);
        cursor: pointer;
    }
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:focus {
        box-shadow: none;
    }
}
.navbar-toggler span {
    display: block;
    background-color: var(--dark);
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.2s ease-out;
    transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}

.nav-link {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--third);
    color: var(--text-main);
    border-radius: 20px;
    margin-left: 10px;

    &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
        color: var(--text-main);
    }

    &:focus {
        outline: none;
    }
}

@media (max-width: 991px) {
    .nav-link {
        padding: 10px;
        margin-top: 10px;
    }
}
